.customers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .customer {
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    background-color: goldenrod;
    box-shadow: black .2em .2em .2em;
  }