.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
}

.navbar__item {
    flex-basis: 80%;
    list-style-type: none;
    padding: .4em;
    text-align: center;
    background-color: goldenrod;
    box-shadow: black .2em .2em .2em;
}

ul {
    list-style: none;
    padding-left: 0;
}